body {
    display: flex;
    
    font-family: 'Roboto', sans-serif;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.bg-container {
    transition: background-color 1s ease;
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;  /* Keep it behind the content */
}

.circle-container {
    position: relative;
    width: 200px;
    height: 200px;
}

.circle-btn {
    color: #FFF;
    position: absolute;
    width: 300px;
    height: 300px;
    cursor: pointer;
    opacity: 0; 
    transition: transform 0.3s, opacity 0.3s;
}

.circle-btn img {
    width: 100%;
    height: 100%;
}

.circle-btn.visible {
    opacity: 1;
}

.circle-btn.not-hovered {
    opacity: 0.5;
}

.circle-btn.hovered {
    transform: scale(1.2);
}

.display-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.site-header {
    background-color: #FFF;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1;
}

.header-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.logo {
    height: 60px; /* Adjust as needed */
    margin-right: 15px;
}

.company-name {
    font-size: 24px; /* Adjust as needed */
    color: #333; /* Modern websites often use dark gray instead of pure black */
}


